{% load static %}
<!doctype html>
<html>
<head>
    <title>Talker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--TODO create a box slider to display icons horizontally-->
    <!--TODO create a phrase bar where user adds words to a sentence-->
</head>
<body>
    <h1>Talker</h1>
    <p>Click the picture to hear a word.</p>
    <table>
        <tr>
            {% for pictogram in pictograms %}
                <td>
                    <img
                        alt="{{ pictogram.text }}"
                        class="pictograms"
                        data-pictogram-text="{{ pictogram.text }}"
                        data-pictogram-audio-url="{{ pictogram.audio.url }}"
                        height="50%"
                        src="{{ pictogram.image.url }}"/>
                </td>
            {% endfor %}
        </tr>
    </table>
    <script type="text/javascript" src="/static/js/play_audio.js"></script>
</body>
</html>
